NEWS_API_KEY=your_newsapi_key_here
NEWS_API_BASE_URL=https://newsapi.org/v2
NEWS_API_LANGUAGE=en
NEWS_API_PAGE_SIZE=8
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_key_here
ALPHA_VANTAGE_API_BASE_URL=https://www.alphavantage.co/query
TWELVE_DATA_API_KEY=your_twelve_data_key_here
TWELVE_DATA_API_BASE_URL=https://api.twelvedata.com
